.img-30 {
    width: 30px;
    height: 30px;
}

.img-40 {
    width: 40px;
    height: 40px;
}

.img-50 {
    width: 50px;
    height: 50px;
}

.img-60 {
    width: 60px;
    height: 60px;
}

.img-70 {
    width: 70px;
    height: 70px;
}

hr {
    margin: 0 !important;
}

.post__function {
    position: relative;
}
@keyframes growUp {
    from {
        scale: 1;
    }
    to {
        scale: 1.5;
    }
}

.reaction-icon:hover .icon-img {
    animation: growUp 0.5s forwards;
}

.reaction-wrapper {
    width: fit-content;
}
